.button {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  border-color: #f1c40f;
  color: black;

  background-image: -webkit-linear-gradient(top, transparent 50%, #f1c40f 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #f1c40f 50%);
  background-position: 0% 0%;
  background-size: 400%;
  -webkit-transition: background 450ms ease-in-out, color 450ms ease-in-out;
  transition: background 450ms ease-in-out, color 450ms ease-in-out;
}

.button:hover {
  color: #fff;
  background-position: 0 100%;
}

@media (prefers-color-scheme: dark) {
    .button {
        color: white;
    }
}