.remaining {
  color: rgba(128, 128, 128, 10);
}

.wrong {
  background-color: rgb(240, 84, 84, 1);
}

.text {
  max-width: 750px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 20px;
}

.text:focus {
  cursor: default;
}

.author {
  color: rgba(128, 128, 128, 10);
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.carrot {
  height: 20px;
  width: 0.28rem;
}

.information {
  max-width: 500px;
  overflow: hidden;
}

.information p {
  margin: 0;
  border-radius: 5px;
  padding: 2px;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 17px;
  display: flex;
}

.timeElapsed {
  padding-left: 1px;
  padding-right: 1px;
}
