.navigation {
  width: 100%;
  display: flex;
  text-decoration: none;

  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 50px;
  background-color: var(--bg-color);
}

.navigation .logo {
  display: flex;
  align-items: center;
  margin-left: 130px;
  font-family: "Roboto Mono";
  color: var(--main-color);
}

.navigation .links {
  display: flex;
  align-items: center;
  margin-right: 130px;
}

.navigation .link {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
}

.navigation .link:hover,
.navigation .button:hover {
  cursor: pointer;
}

.navigation .button {
  display: block;
  padding: 10px 20px;
  border-radius: 7px;
  color: black;
  background-color: white;
}

@media (max-width: 815px) {
  .navigation .links {
    display: none;
  }
}
