.description {
  color: grey;
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  width: 75%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.content p {
  top: 50%;
}

.content .box {
  margin-left: auto;
  margin-right: 0;
}

.box p {
  display: inline;
  padding-left: 6px;
}

.box p:hover {
  cursor: pointer;
}

.content p {
  margin: 2px;
}

.offBox {
  color: grey;
}
