.description {
  color: var(--text-color);
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  color: var(--sub-color);
  width: 75%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 30px;
  font-family: Source Code Pro;
}

.content .box {
  margin-left: auto;
  margin-right: 0;
  color: var(--text-color);
}

.box p {
  display: inline;
  padding-left: 6px;

  padding: 0.4rem;
  border-radius: 0.25rem;
  text-align: center;
  align-content: center;
  height: min-content;
}

.box p:hover {
  cursor: pointer;
}

.content p {
  margin: 2px;
}

.offBox {
  color: var(--sub-color);
}

.onBox {
  /** background-color: var(--sub-color); */
  color: var(--main-color);
}
